<form>  
  <label>Ride Name:</label>
  {{input value=model.name class="form-control"}}

  <label>Ride Route:</label>
  {{input value=model.route class="form-control"}}

  <!-- <label>Ride Date:</label>
  {{input value=model.Date class="form-control"}} -->
  <br>
  <label>Team:</label>
  <p>Select the team that you'd like to add this ride to:</p>
  {{multiselect-checkboxes 
    options=rideCreator.teams
    selection=selectedTeams
    labelProperty="name"}}



  <button {{action "save"}}>Save</button>




</form>  





