<form>  
  <label>Ride Name:</label>
  {{input value=model.name class="form-control"}}

  <label>Ride Route:</label>
  {{input value=model.route class="form-control"}}

  <!-- <label>Ride Date:</label>
  {{input value=model.Date class="form-control"}} -->
  <br>
  <label>Team:</label>
  <p>Select the team that you'd like to add this ride to:</p>
  <!-- {{multiselect-checkboxes 
    options=rideCreator.teams
    selection=selectedTeams
    labelProperty="name"}} -->
<div>
{{#each rideCreator.teams as |team|}}
{{radio-button value=team checked=selectedTeams}}<span> </span><strong>{{team.name}}</strong>
<br>
{{/each}}
</div>

  <button {{action "save"}}>Save</button>








</form>  





