

<body>


{{#if isLoggedIn}}


    <div class="outer">
      
      <!-- Sidebar starts -->
      <div class="sidebar">
      
        <div class="sidey">
      
          <!-- Logo -->
          <div class="logo">
            <h1><a><i class="fa fa-desktop br-red"></i> Pedal <span>Live to Bike </span></a></h1>
          </div>
          
          <!-- Sidebar navigation starts -->
          
          <!-- Responsive dropdown -->
          <div class="sidebar-dropdown"><a class="br-red"><i class="fa fa-bars"></i></a></div>
          
          <div class="side-nav">
          
            <div class="side-nav-block">

              <!-- Sidebar heading -->
              <h4>{{model.name}}</h4>
              
              <!-- Sidebar links -->
              <ul class="list-unstyled">
                <li>{{#link-to 'profile'}}<i class="fa fa-desktop"></i> Profile {{/link-to}}</li>
                <li>{{#link-to 'rides'}}<i class="fa fa-bullseye"></i> My Rides {{/link-to}}</li>
                <li>{{#link-to 'teams'}}<i class="fa fa-bullseye"></i> My Teams {{/link-to}}</li>
              </ul>
            </div>
            
            <div class="side-nav-block">
              <h4>Current Team Name</h4>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Switch Teams
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {{#each model.teams as |team|}}
                      <li><a>{{team.name}}</a></li>
                    {{/each}}
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Leave a Team</a></li>
                  </ul>
            </div>



              <ul class="list-unstyled">
                <li><a><i class="fa fa-times"></i> Team Page</a></li>
                <!-- <li>{{#link-to 'cyclists'}}<i class="fa fa-desktop"></i> Team Members (deprecated){{/link-to}}</li> -->
                <li><a><i class="fa fa-sign-in"></i> Team Rides</a></li>
              </ul>
            </div>
            
            
          </div>
          
          <!-- Sidebar navigation ends -->
          
        </div>
      </div>
      <!-- Sidebar ends -->
      
      <!-- Mainbar starts -->
      <div class="mainbar">
      
        <!-- Mainbar head starts -->
        <div class="main-head">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Page title -->
                <h2></h2>
              </div>
              
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Search block -->
                <!-- <div class="head-search">
                  <form class="form" role="form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </form>
                </div> -->
              </div>
              
              <div class="col-md-3 col-sm-4 hidden-xs">
                <!-- Notifications -->
                <!-- <div class="head-noty text-center"> </div> -->
                <div class="clearfix"></div>
              </div>
              
              
              <div class="col-md-3 hidden-sm hidden-xs">
                <!-- Head user -->
                <div class="head-user dropdown pull-right">
                  <a href="#" data-toggle="dropdown" id="profile">
                    <!-- Icon 
                    <i class="fa fa-user"></i>  -->
                    
                    <!-- User name -->
                    {{model.name}} <!-- <span class="label label-danger">5</span> --> 
                    <!-- <i class="fa fa-caret-down"></i> --> 
                  </a>
                  <!-- Dropdown -->
                  <ul class="dropdown-menu" aria-labelledby="profile">
                    <li><a>Edit Your Info</a></li>
                    <li><a>Account Settings</a></li>
                    <li><a>Messages</a></li>
                    <li><a {{action 'invalidateSession'}}>Logout</a></li> 
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>  
          </div>
          
        </div>
        
        <!-- Mainbar head ends -->
        
        <div class="main-content">
          <div class="container">
                    
            <div class="page-content">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <div class="clearfix"></div>


              </div>

              <!-- MAIN APP FUNCTIONALITY INSERTED HERE -->
                              {{outlet}}
              <!-- MAIN APP FUNCTIONALITY INSERTED HERE -->
              
            </div>
            
          </div>
        </div>
        
      </div>
      <!-- Mainbar ends -->
      
      <div class="clearfix"></div>

    </div>


{{else}}

  {{login-or-register login=(action 'authenticate') signup=(action 'register')}}

{{/if}}

</body>
